@page "/bugs"
@using Models;
@using BlazorStrap;
@using Components;
@using Services;
@inject IBugsService BugsService;

<h3>Bugs</h3>
<BugTrackerCP.Components.BugDetails OnAddOrUpdate="(Bug bug) => OnAddOrUpdate(bug)" @ref="BugDetails"/>
<div>
    <BSRow>
        @foreach (var bug in CurrentBugs)
        {
            <BugTrackerCP.Components.BugTicket CurrentBug="@bug" OnClickCallback="(Bug bug) => OnCardClick(bug)"/>
        }
    </BSRow>
</div>



@code {
    private IEnumerable<Bug> CurrentBugs { get; set; } = new List<Bug>();
    private Bug SelectedBug { get; set; }
    private BugDetails? BugDetails { get; set; }

    private void OnCardClick(Bug selectedBug)
    {
        SelectedBug = selectedBug;
        BugDetails!.Show(selectedBug);
    }

    private void OnAddOrUpdate(Bug bug)
    {

    }

    private async Task<IEnumerable<Bug>> GetBugs()
    {
        return await BugsService.Get();
    }

    protected override async Task OnInitializedAsync()
    {
        CurrentBugs = await GetBugs();
        SelectedBug = CurrentBugs.First();
    }
}
