@page "/bugs"
@using Models;
@using BlazorStrap;
@using Components;

<h3>Bugs</h3>
<BugTrackerCP.Components.BugDetails OnAddOrUpdate="(Bug bug) => OnAddOrUpdate(bug)" @ref="BugDetails"/>
<div>
    <BSRow>
        @foreach (var bug in CurrentBugs)
        {
            <BugTrackerCP.Components.BugTicket CurrentBug="@bug" OnClickCallback="(Bug bug) => OnCardClick(bug)"/>
        }
    </BSRow>
</div>



@code {
    private IEnumerable<Bug> CurrentBugs { get; set; } = new List<Bug>();
    private Bug SelectedBug { get; set; }
    private BugDetails? BugDetails { get; set; }

    private void OnCardClick(Bug selectedBug)
    {
        SelectedBug = selectedBug;
        BugDetails!.Show(selectedBug);
    }

    private void OnAddOrUpdate(Bug bug)
    {
        
    }

    protected override void OnInitialized()
    {
        Console.WriteLine("Init");
        CurrentBugs = new[] { 
            new Bug() { 
                Name = "Fix issue with something", 
                Description = "We need to fix this thing because it is causing things",
                Assignees = new[] { "Jeff", "John", "Chris", "Pete", "Michael" }
            },
            new Bug() { 
                Name = "2Fix issue with something", 
                Description = "We need to fix this thing because it is causing things",
                Assignees = new[] { "Jeff", "John", "Chris", "Pete", "Michael" }
            },
            new Bug() { 
                Name = "3Fix issue with something", 
                Description = "We need to fix this thing because it is causing things",
                Assignees = new[] { "Jeff", "John", "Chris", "Pete", "Michael" }
            },
            new Bug() { 
                Name = "4Fix issue with something", 
                Description = "We need to fix this thing because it is causing things",
                Assignees = new[] { "Jeff", "John", "Chris", "Pete", "Michael" }
            },
            new Bug() { 
                Name = "5Fix issue with something", 
                Description = "We need to fix this thing because it is causing things",
                Assignees = new[] { "Jeff", "John", "Chris", "Pete", "Michael" }
            },
            new Bug() { 
                Name = "6Fix issue with something", 
                Description = "We need to fix this thing because it is causing things",
                Assignees = new[] { "Jeff", "John", "Chris", "Pete", "Michael" }
            }
    };
        SelectedBug = CurrentBugs.First();
    }
}
